
  @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200&family=Dancing+Script&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Advent Pro', sans-serif;
    padding: 0;
    margin: 0;
  }
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
  }
h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
  }
a {
    text-decoration: none;
    color: black;
}
/* *************** NAVBAR *************** */

nav{
    overflow: hidden;
    background-color: #FFFAE1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: right;
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px; 
}
#logo {
    font-family: 'Dancing Script', 'cursive';
    font-weight: bold;
    float: left;
}
/* *************** MAIN PICTURE *************** */

#Mainimage {
    padding-top:  60px;
    background:  url(media/image-principale.JPG) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size:  6em;
    margin-top: 110px;
    text-shadow: 5px 6px 2px black;
}
#firstline {
    height: 1px;
    width: 35%;
    margin: -3px auto;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;

}
h3 {
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 5px 6px 2px black;
}
/* *************** PRESENTATION *************** */
#presentation {
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
}
#introtext {
    padding: 0px 15%;
}
#Lore {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:  30px 10%;
}
.Loreimage h4 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
}
.Loreimage img {
    border-radius: 23px 5px 23px 5px;
    box-shadow: 5px 6px 9px 5px rgba(0,0,0,0.87);
}
.Loreimage img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
/* *************** DESCRIPTION *************** */
#Description {
    height: 1400px;
    background-color: #f1f2f6;
    padding:  1px 2%;
}


#Description h2 {
    padding-top: 60px;
}
#Scythe {
    background: url(media/ocean.jpg);
    border-radius: 10px;
}
#Sword {
    background: url(media/chateau.JPG);
    border-radius: 10px;
}
#Hammer {
    background: url(media/phare.JPG);
    border-radius: 10px;
}
#Scepter {
    background: url(media/vignes.jpg);
    border-radius: 10px;
}
#Description li {
    margin: 65px 100px 0 100px;
    height:  226px;
    width:  55%;
    max-width: 550px;
    float: left;
    box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#Description p {
    height: 45px;
    width: 235;
    background-color: #01DF74;
    float: right;
    margin: 50px -180 0 0;
    font-size:  1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgba(90,161,43,1);
}
#Description #Sword, #Description #Scepter {
    float: right;
}
#Scepter p {
    float: left;
    background-color: cyan;
    margin-left: -100px;
    box-shadow: -4px 4px 0 1px rgba(15, 154, 156, 1);
}
#Sword p {
    float: left;
    background-color: cyan;
    margin-left: -40px;
    box-shadow: -4px 4px 0 1px rgba(15, 154, 156, 1);
}
/* *************** FOOTER *************** */
footer{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 900px;
}
input,textarea,button {
    border: none;
    width: 55%;
    padding:  15px 10px;
    margin: 1px 0;
    font-size:  1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button{
    font-size:  1.5em;
    background-color: #FFFAE1;
}
button:hover {
    background-color:  #e55039;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#secondline {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}
#copyrightandicons {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;
}
#icons {
    width: 50%;
    text-align: right;
}
#icons a {
    display: inline-block;
    padding: 0 15px;
    font-size:  1.5em;
    color: #FFFAE1;
}
#icons a:hover {
    transform: scale(1.5);
    transition: 0.1s;
}