body {
  text-align: center;
  align-items: center;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#profileList {
  list-style-type: none;
  text-align: left;
  display: inline-block;
}

@media only screen and (max-width: 600px) {}