@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200&family=Dancing+Script&display=swap');


html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Advent Pro', sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    position: 0;
    background-color: white;
  }
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
  }
  
a {
    text-decoration: none;
    color: black;
}
/* *************** NAVBAR *************** */

nav{
    overflow: hidden;
    background-color: rgb(0, 53, 102);
    position: fixed;
    width: 180px;
    height: 100%;
    opacity: 1;
}

.zone-hover {
    position: fixed;
    background-color: rgb(0, 53, 102);
    left: 0;
    top: 10px;
    padding: 20px;
    cursor: pointer;
    border-radius: 0px 25px 25px 0px;
    overflow: hidden;
    transition: left 1s ease;   
}

.menu {
    display: block;
    position: absolute;
    top: -10px;
    left: -190px;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
    transition: left 1s ease;
}

.lines {
    display: flex;
    margin-top: 10px;
    flex-direction: column; /* Aligne les lignes verticalement */
    align-items: center; /* Centre les lignes horizontalement */
    transition: left 1s ease;
}

#firstline, #secondline, #thirdline {
    height: 1px;
    width: 45px;
    margin-bottom: 20px;
    background-color: #FFFAE1;
    box-shadow: 1px 3px 2px black;
}

.zone-hover:hover {
    left: 180px;

}

header li {
    font-size: 1.2em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
    color:white;
}
#Home {
    font-family: 'Dancing Script', 'cursive';
    font-weight: bold;
    font-size: 3em;
    padding-bottom: 15px;
    padding-bottom: 40px;
}

h1 {    
    margin-top: 0%;
    margin-left: 35%;
    font-size: 5em;
}